body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-top: 50px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.main-line {
    background-image: url(/Content/Images/welcome.jpg);
    background-position-x: center;
    background-position-y: 36%;
    height: 250px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.main-line .centred {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.time-editor {
    
}

.time-editor button {
    width: 140px;
}

.time-editor .time-element {
    background-color: transparent;
    text-align: center;
    font-size: 64pt;
    height: auto;
    color: #0e0d0b;
    border: none;
    display: inline-block;
    float: left;
}


.time-editor button:hover {
    text-decoration-line: underline;
    text-decoration-color: #0e0d0b;
}

.btn-checkin {
    background-color: #47a447;
    border-color: #398439;
    margin-top: 10px;
    width: 360px;
    color: white;
}

.btn-checkin:hover, .btn-checkin:focus, .btn-checkin:active, .active.btn-checkin, .open .btn-checkin.dropdown-toggle {
    color: #fff;
    background-color: #47a447;
    border-color: #398439;
}


