body {
    padding-bottom: 20px;
    padding-top: 50px;
}

/* Set padding to keep content from hitting the edges */

.body-content { padding-top: 50px; }

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/

.dl-horizontal dt { white-space: normal; }

/* Set width on the form input elements since they're 100% wide by default */

input,
select,
textarea { max-width: 280px; }

.main-line {
    background-image: url(/Content/Images/welcome.jpg);
    background-position-x: center;
    background-position-y: 36%;
    padding-bottom: 40px;
    padding-top: 40px;
    text-align: center;
}

.main-line .centred {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.time-editor {
    background-color: transparent;
    border: none;
    color: #0e0d0b;
    font-size: 64pt;
    height: auto;
    text-align: center;
}

.time-editor:hover {
    text-decoration: #0e0d0b dotted underline;
}

.btn-checkin {
    background-color: #47a447;
    border-color: #398439;
    color: white;
    margin-top: 10px;
    width: 360px;
}

.btn-checkin:hover, .btn-checkin:focus, .btn-checkin:active, .active.btn-checkin, .open .btn-checkin.dropdown-toggle {
    background-color: #54c254;
    border-color: #398439;
    color: #fff;
}